*{
    box-sizing: border-box;
}
  

body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
#header-main nav {
  position: relative;
}

#header-main nav.menu-active {
    display: block;
    clear: both;
}

.menu-main {
  border-bottom: 1px solid #9ba1ce;
  border-top: 1px solid #dde7ff;
}

.menu {
  margin: 0 auto;
  max-width: 1180px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: black;
  font-weight: 700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .3s;
  font-size: 15px;
  text-transform: uppercase;
}

ul.topnav li a:hover {
  color: #f2f2f2;
  background-color: grey;
  text-shadow: 2px 1px #172035;
}

ul.topnav li.icon {
  display: none;
}


#header-main.active nav ul.topnav li a {
    color: black;
    text-shadow: none;
}


#header-main.active {
  z-index:99;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.38);
  -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,.38);
  -ms-box-shadow: 0 3px 3px 0 rgba(0,0,0,.38);
  -o-box-shadow: 0 3px 3px 0 rgba(0,0,0,.38);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.38);
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

#header-main.active ul.topnav li a {
  font-size: 13px;
  padding: 12px 15px;
}

/* @media screen and (max-width:800px) {
  #header-main.active ul.topnav li a {
    font-size: 13px;
    padding: 10px 15px;
  }

  #header-main.active ul.topnav li.icon,#header-main.active ul.topnav li.icon img {
    height: 35px;
  }
} */

  
/* Kontainer Slideshow */
.slideshow-container {
    /* position: relative; */
    margin: auto;
    /* background-size: cover; */
    color: white;
    text-align: center;
    background-position: center;
    animation: slide 20s infinite;
    width: 100%;
}

/* Animasi memudar */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8} 
  to {opacity: 1}
}

.section-title {
    padding-left: 45px;
}

.highlight-item {
    position: relative;
    
}

.highlight-item img {
    padding-left: 20px;
    width: 350x;
    height: 450px;
}


.highlight-teks {
    padding-left: 20px;
    background-color: cornsilk;  
    position: absolute;
    opacity: 0.9;
}

.highlight-teks p {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.highlight-teks p:nth-child(2) {
    font-size: 15px;
    font-weight: lighter;
    color: black;
}

.korean {
    height: 130px;
    width: 250px;
    margin-top: 280px;
    padding-left: 30px;
}

.highlight-item img:hover {
    opacity: 0.8;
}


.highlight-item a {
    color: black;
}

.braid-cardi {
    width: 250px;
    margin-right: 20px;
    height: fit-content;
    display: inline-block;
    background-color: white;
    text-align: center;
    opacity: 1;
}

.braid-cardi p {
    font-size: 24px;
    margin-top: 25px;
    margin-right: 20px;
}

.braid-cardi img {
    width: 270px;
    height: 300px;
    padding-left: 1px;
    padding-right: 23px;
    position: relative;
}

.braid-cardi span {
    font-size: 8px bold;
}

.braid-cardi a {
    color: black;
}


.braid-cardi:hover {
    opacity: 0.8;
    border: solid 1px black;
}
/*  */

.sage-cardi {
    width: 250px;
    margin-right: 20px;
    height: fit-content;
    display: inline-block;
    background-color: white;
    text-align: center;
    opacity: 1;
}

.sage-cardi p {
    font-size: 24px;
    margin-top: 25px;
    margin-right: 20px;
}

.sage-cardi img {
    width: 270px;
    height: 300px;
    padding-left: 1px;
    padding-right: 23px;
    position: relative;
}

.sage-cardi span {
    font-size: 12px bold;
}

.sage-cardi a {
    color: black;
}


.sage-cardi:hover {
    opacity: 0.8;
    border: solid 1px black;
}
/*  */
.springle-cardi {
    width: 250px;
    margin-right: 10px;
    height: fit-content;
    display: inline-block;
    background-color: white;
    text-align: center;
    opacity: 1;
}

.springle-cardi p {
    font-size: 24px;
    margin-top: 25px;
    margin-right: 20px;
}

.springle-cardi img {
    width: 270px;
    height: 300px;
    padding-left: 1px;
    padding-right: 23px;
    position: relative;
}

.springle-cardi span {
    font-size: 12px bold;
}

.springle-cardi a {
    color: black;
}


.springle-cardi:hover {
    opacity: 0.8;
    border: solid 1px black;
}

.campaign {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.campaign h2{
    padding-bottom: 50px;
}
.campaign img {
    height: 400px;
    width: 300px;
    padding-left: 25px;
}

.footer {
    background-color: #ebeae9;
    color: black;
    height: 150px;
    border-top: 1px solid rgb(67, 67, 67);
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    text-align: center;
}